.langkah-tanam {
  .heading-tanam {
    margin: 80px 80px 80px 0px;
    border-bottom: #fdab36 solid 4px;
    border-left: #fdab36 solid 4px;
    padding-left: 20px;
    display: inline-block;
    h1 {
      font-size: 32px;
      font-weight: 500;
    }
    p {
      font-size: 24px;
      font-weight: 300;
      color: #8b8f89;
    }
  }
}
